{% extends "layout.html" %}

{% block pageTitle %}
  Email Address
{% endblock %}

{% block beforeContent %}
  {% include '../includes/phase-banner-sign-out.njk' %}
  {% include '../includes/back-button.njk' %}
{% endblock %}

{% block content %}


{% if data['phone-number'] == '07787147346' %}
<script>
    window.location.href = 'summary-ts'
</script>
{% endif %}






<form class="form" action="mismatch" method="post">
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
      
        <h1 class="govuk-heading-l">Enter citizen&rsquo;s email address</h1>

        <div class="govuk-form-group">

            {{ govukInput({
              id: "Email address",
              name: "email-address",
              classes: "govuk-input--width-10",
              attributes: {
                spellcheck: "false"
              }
            }) }}

        </div>


        {{ govukButton({
          text: "Continue"
        }) }}

        <p><a href="mismatch">I don't know the citizen's email address</a></p>

    </div>
  </div>
</form>

{% endblock %}
