{% extends "layout.html" %}

{% block pageTitle %}
    Phone Number
{% endblock %}

{% block beforeContent %}
  {% include '../includes/phase-banner-sign-out.njk' %}
  {% include '../includes/back-button.njk' %}
{% endblock %}

{% block content %}
<form class="form" action="citizen-email-radios" method="post">
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
      

        <div class="govuk-form-group">

          {% set mobileHtml %}
          {{ govukInput({
            id: "mobile-number",
            name: "mobile-number",
            classes: "govuk-input--width-20",
            label: {
              text: "Enter the mobile number"
            },
            attributes: {
              spellcheck: "false"
            }
          }) }}
        {% endset -%}


        {% set landlineHtml %}
          {{ govukInput({
            id: "landline-number",
            name: "landline-number",
            classes: "govuk-input--width-20",
            label: {
              text: "Enter the landline number"
            },
            attributes: {
              spellcheck: "false"
            }
          }) }}
        {% endset -%}

       
       

       



        {{ govukCheckboxes({
          idPrefix: "phone-numbers",
          name: "phone-numbers",
          fieldset: {
            legend: {
              text: "Do you have a telephone number for the citizen?",
              isPageHeading: true,
              classes: "govuk-fieldset__legend--l"
            }
          },
          hint: {
            text: "If you have a landline number and a mobile number, enter both."
          },
          
          items: [
            {
              value: "mobile-number",
              text: "Mobile number",
              conditional: {
                html: mobileHtml
              }
            },
            {
              value: "landline-number",
              text: "Landline number",
              conditional: {
                html: landlineHtml
              }
            }
          ]
        }) }}

      </div>



        {{ govukButton({
          text: "Continue"
        }) }}

        <p><a href="citizen-email">I don't know the citizen's telephone number</a></p>


    </div>
  </div>
</form>

{% endblock %}
