{% extends "layout.html" %}

{% block pageTitle %}
    Email address
{% endblock %}

{% block beforeContent %}
  {% include '../includes/phase-banner-sign-out.njk' %}
  {% include '../includes/back-button.njk' %}
{% endblock %}

{% block content %}


{% if data['phone-number'] == '07787147346' %}
<script>
    window.location.href = 'summary-ts'
</script>
{% endif %}

{% if data['mobile-number'] == '07787147346' %}
<script>
    window.location.href = 'summary-ts'
</script>
{% endif %}

{% if data['landline-number'] == '01943461222' %}
<script>
    window.location.href = 'summary-ts'
</script>
{% endif %}


<form class="form" action="mismatch" method="post">
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
      

        <div class="govuk-form-group">

          {% set emailHtml %}

          {{ govukInput({
            label: {
              text: "Enter the email address"
            },
            id: "email",
            name: "email-address",
            type: "email",
            autocomplete: "email",
            attributes: {
              spellcheck: "false"
            }
          }) }}
          
        {% endset -%}




        {{ govukRadios({
          idPrefix: "citizen-email",
          name: "citizen-email",
          fieldset: {
            legend: {
              text: "Do you have an email address for the citizen?",
              isPageHeading: true,
              classes: "govuk-fieldset__legend--l"
            }
          },
          items: [
            {
              value: "Yes",
              text: "Yes",
              conditional: {
                html: emailHtml
              }
            },
            {
              value: "No",
              text: "No"
            }
          ]
        }) }}

        </div>


        {{ govukButton({
          text: "Continue"
        }) }}


    </div>
  </div>
</form>

{% endblock %}
