{% extends "layout.html" %}

{% block pageTitle %}
  Citizen details
{% endblock %}

{% block beforeContent %}
  {% include '../includes/phase-banner-sign-out.njk' %}
  {% include '../includes/back-button.njk' %}
{% endblock %}

{% block content %}
  <form class="form" action="summary-bw" method="post">

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
      
        <h1 class="govuk-heading-l">Enter citizen&rsquo;s details</h1>

        <div class="govuk-form-group">

            {{ govukInput({
              label: {
                text: "First name"
              },
              id: "first-name",
              name: "first-name",
              classes: "govuk-!-width-three-quarters",
              attributes: {
                spellcheck: "false"
              }
            }) }}


            {{ govukInput({
              label: {
                text: "Last name"
              },
              id: "last-name",
              name: "last-name",
              classes: "govuk-!-width-three-quarters",
              attributes: {
                spellcheck: "false"
              }
            }) }}


            {{ govukDateInput({
              id: "dob",
              namePrefix: "dob",
              fieldset: {
                legend: {
                  text: "Date of birth"
                }
              },
              hint: {
                text: "For example, 31 3 1980"
              },
              items: [
                {
                  name: "day",
                  classes: "govuk-input--width-2",
                  autocomplete: "bday-day"
                },
                {
                  name: "month",
                  classes: "govuk-input--width-2",
                  autocomplete: "bday-month"
                },
                {
                  name: "year",
                  classes: "govuk-input--width-4",
                  autocomplete: "bday-year"
                }
              ]
            }) }}


            {{ govukInput({
              label: {
                text: "Postcode"
              },
              classes: "govuk-input--width-10",
              id: "postcode",
              name: "postcode"
            }) }}

        </div>

        {{ govukButton({
          text: "Continue"
        }) }}

        <div class="govuk-checkboxes govuk-checkboxes--small" style="visibility: hidden">
            <div class="govuk-checkboxes__item">
              <input class="govuk-checkboxes__input" id="organisation-1" name="organisation" type="checkbox"
                value="understand" {{ 'checked' if data.organisation }}  checked>
              <label class="govuk-label govuk-checkboxes__label" for="organisation-1">
                I understand
              </label>
            </div>
          </div>

    </div>
  </div>
</form>

{% endblock %}
