{% extends "layout.html" %}

{% block pageTitle %}
Data mismatch
{% endblock %}

{% block beforeContent %}
  {% include '../includes/phase-banner-sign-out.njk' %}
  {% include '../includes/back-button.njk' %}
{% endblock %}

{% block content %}

{% if data['ni-number'] == 'BW123456G' %}
<script>
    window.location.href = 'summary-bw'
</script>
{% endif %}

{% if data['ni-number'] == 'DP123456G' %}
<script>
    window.location.href = 'summary-dp'
</script>
{% endif %}


{% if data['ni-number'] == 'PP123456G' %}
<script>
    window.location.href = 'summary-pp'
</script>
{% endif %}


{% if data['ni-number'] == 'TS123456G' %}
<script>
    window.location.href = 'summary-ts'
</script>
{% endif %}


{% if data['ni-number'] == 'FC123456G' %}
<script>
    window.location.href = 'summary-fc'
</script>
{% endif %}


{% if data['ni-number'] == 'SK123456G' %}
<script>
    window.location.href = 'summary-sk'
</script>
{% endif %}


{% if data['ni-number'] == 'NO123456G' %}
<script>
    window.location.href = 'summary-no'
</script>
{% endif %}


{% if data['ni-number'] == 'CK123456G' %}
<script>
    window.location.href = 'summary-ck'
</script>
{% endif %}


{% if data['ni-number'] == 'WF123456G' %}
<script>
    window.location.href = 'summary-wf'
</script>
{% endif %}


{% if data['ni-number'] == 'BB123456G' %}
<script>
    window.location.href = 'summary-bb'
</script>
{% endif %}





<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">
    <h1 class="govuk-heading-l">No record found</h1>

    <p>There is no benefit record for the details you've entered.</p>

    <p>You can try again or call the Department for Work on Pensions on 0800 123 4567.</p>

    <p><a class="govuk-link" href="nino-primary?data=clear">Try again</a></p>

  </div>
</div>

{% endblock %}
