{% extends "layout.html" %}

{% block pageTitle %}
  Search choice
{% endblock %}

{% block beforeContent %}
  {% include '../includes/phase-banner-sign-out.njk' %}
{% endblock %}

{% block content %}
<form id="form" method="post" action="search-choice"></form>

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
      
        <h1 class="govuk-heading-l">Choose how you want to search</h1>


        <div class="govuk-form-group">

          {{ govukRadios({
            idPrefix: "search-choice",
            name: "search-choice",
            fieldset: {
              legend: {
                isPageHeading: false,
                classes: "govuk-fieldset__legend--xl"
              }
            },
            items: [
              {
                value: "name-dob-postcode",
                text: "By name, date of birth and postcode"
              },
              {
                value: "nino",
                text: "By National Insurance number"
              }
            ]
          }) }}

        </div>

        <input type="submit" class="govuk-button" value="Continue" id="submit">


    </div>
  </div>
</form>

{% endblock %}


{% block pageScripts %}
  <script>
    $( document ).ready(function() {
      $('#submit').on('click', function(e){
        e.preventDefault();

        if($('#search-choice-1').is(':checked')) window.location = 'citizen-details-c'
        if($('#search-choice-2').is(':checked')) window.location = 'nino'
      })
    })
  </script>

{% endblock %}

