{% extends "layout.html" %}

{% block pageTitle %}
Summary - Peter Parker
{% endblock %}

{% block beforeContent %}
  {% include '../includes/phase-banner-sign-out.njk' %}
{% endblock %}





{% block content %}


<div class="govuk-grid-row">

    <div class="govuk-grid-column-two-thirds">
            <h1 class="govuk-heading-l">Peter Parker</h1>

            <!-- Award Summary Table -->
            <dl class="govuk-summary-list">
                
                <div class="govuk-summary-list__row">
                  <dt class="govuk-summary-list__key">
                    Date of birth
                  </dt>
                  <dd class="govuk-summary-list__value">
                    21 September 1981
                  </dd>
                </div>
                <div class="govuk-summary-list__row">
                    <dt class="govuk-summary-list__key">
                      Benefit type
                    </dt>
                    <dd class="govuk-summary-list__value">
                      Personal Independence Payment

                      <strong class="govuk-tag govuk-phase-banner__content__tag award-status">
                          ONGOING
                        </strong>
                    </dd>
                  </div>
                <div class="govuk-summary-list__row">
                  <dt class="govuk-summary-list__key">
                    Moving around score
                  </dt>
                  <dd class="govuk-summary-list__value">
                    B. 4 points
                  </dd>
                </div>
                <div class="govuk-summary-list__row">
                  <dt class="govuk-summary-list__key">
                    Planning and following a journey
                  </dt>
                  <dd class="govuk-summary-list__value">
                      <p>C. 8 points</p>
                  </dd>
                </div>
               
                <div class="govuk-summary-list__row">
                  <dt class="govuk-summary-list__key">
                    End date
                  </dt>
                  <dd class="govuk-summary-list__value">
                    1 October 2021
                  </dd>
                </div>
              </dl>
              <!-- End of Award Summary Table -->

              <!-- Award Details -->
              <details class="govuk-details" data-module="govuk-details">
                  <summary class="govuk-details__summary">
                    <span class="govuk-details__summary-text">
                      View full award details
                    </span>
                  </summary>
                  <div class="govuk-details__text">
                      {% include '../includes/award-details.njk' %}
                  </div>
              </details>
              <!-- End of Award Details -->

              <!-- Download / Search Another -->
              <a href="../public/downloads/summary-peter-parker.pdf" role="button" class="govuk-button  govuk-!-margin-top-6 govuk-!-margin-right-1  govuk-!-margin-bottom-1">Download as PDF</a>
              <a href="search-choice?data=clear" role="button" class="govuk-button govuk-button--secondary govuk-!-margin-top-6 govuk-!-margin-bottom-8">Search another</a>
              <!-- End of Download / Search Another -->

              
               <!-- Previous awards -->
               {% include '../includes/previous-awards.njk' %}
               <!-- End of Previous Awards -->



            </div>
  </div>


  {% endblock %}
