{% extends "layout.html" %}

{% block pageTitle %}
    Phone Number
{% endblock %}

{% block beforeContent %}
  {% include '../includes/phase-banner-sign-out.njk' %}
  {% include '../includes/back-button.njk' %}
{% endblock %}

{% block content %}
<form class="form" action="citizen-email-radios" method="post">
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
      

        <div class="govuk-form-group">

          {% set phoneHtml %}
          {{ govukInput({
            id: "phone-number",
            name: "phone-number",
            classes: "govuk-input--width-20",
            label: {
              text: "Enter the telephone number"
            },
            attributes: {
              spellcheck: "false"
            }
          }) }}
        {% endset -%}




        {{ govukRadios({
          idPrefix: "carers-allowance",
          name: "carers-allowance",
          fieldset: {
            legend: {
              text: "Do you have a telephone number for the citizen?",
              isPageHeading: true,
              classes: "govuk-fieldset__legend--l"
            }
          },
          items: [
            {
              value: "Yes",
              text: "Yes",
              conditional: {
                html: phoneHtml
              }
            },
            {
              value: "No",
              text: "No"
            }
          ]
        }) }}

        </div>


        {{ govukButton({
          text: "Continue"
        }) }}


    </div>
  </div>
</form>

{% endblock %}
