{% extends "layout.html" %}

{% block pageTitle %}
Summary - Bruce Wayne
{% endblock %}

{% block beforeContent %}
  {% include '../includes/phase-banner-sign-out.njk' %}
{% endblock %}





{% block content %}


{% if data['last-name'] | lower == 'rogers' %}
<script>
    window.location.href = 'summary-sr'
</script>
{% endif %}

{% if data['last-name'] | lower == 'kyle' %}
<script>
    window.location.href = 'summary-sk'
</script>
{% endif %}

{% if data['last-name'] | lower  == 'stark' %}
<script>
    window.location.href = 'citizen-phone-number-checkboxes'
</script>
{% endif %}

{% if data['last-name'] | lower  == 'kent' %}
<script>
    window.location.href = 'summary-ck'
</script>
{% endif %}

{% if data['last-name'] | lower  == 'banner' %}
<script>
    window.location.href = 'summary-bb'
</script>
{% endif %}

{% if data['last-name'] | lower  == 'parker' %}
<script>
    window.location.href = 'summary-pp'
</script>
{% endif %}


{% if data['last-name'] | lower  == 'castle' %}
<script>
    window.location.href = 'citizen-phone-number-checkboxes'
</script>
{% endif %}

{% if data['last-name'] | lower  == 'fisk' %}
<script>
    window.location.href = 'summary-wf'
</script>
{% endif %}


{% if data['last-name'] | lower  == 'prince' %}
<script>
    window.location.href = 'summary-dp'
</script>
{% endif %}


{% if data['last-name'] | lower  == 'murdock' %}
<script>
    window.location.href = 'summary-mm'
</script>
{% endif %}


{% if data['last-name'] | lower  == 'osborn' %}
<script>
    window.location.href = 'summary-no'
</script>
{% endif %}


{% if data['last-name'] | lower  == 'dent' %}
<script>
    window.location.href = 'summary-hd'
</script>
{% endif %}

{% if data['last-name'] | lower  == 'gordon' %}
<script>
    window.location.href = 'summary-jg'
</script>
{% endif %}



<div class="govuk-grid-row">

    <div class="govuk-grid-column-two-thirds">
            <h1 class="govuk-heading-l">Bruce Wayne</h1>


            <dl class="govuk-summary-list">

                <div class="govuk-summary-list__row">
                  <dt class="govuk-summary-list__key">
                    Date of birth
                  </dt>
                  <dd class="govuk-summary-list__value">
                    7 April 1980
                  </dd>
                </div>
                <div class="govuk-summary-list__row">
                    <dt class="govuk-summary-list__key">
                      Benefit type
                    </dt>
                    <dd class="govuk-summary-list__value">
                      Personal Independence Payment
                    </dd>
                  </div>
                <div class="govuk-summary-list__row">
                  <dt class="govuk-summary-list__key">
                    Moving around score
                  </dt>
                  <dd class="govuk-summary-list__value">
                    C (8 points)
                  </dd>
                </div>
                <div class="govuk-summary-list__row">
                  <dt class="govuk-summary-list__key">
                    Planning and following a journey
                  </dt>
                  <dd class="govuk-summary-list__value">

                    <p>E (10 points)</p>
                  </dd>
                </div>

                <div class="govuk-summary-list__row">
                  <dt class="govuk-summary-list__key">
                    End date
                  </dt>
                  <dd class="govuk-summary-list__value">
                    1 January 2022
                  </dd>
                </div>
              </dl>

              <!--<a href="../public/downloads/summary-bruce-wayne.pdf" role="button" class="govuk-button  govuk-!-margin-top-2 govuk-!-margin-right-1  govuk-!-margin-bottom-1">Download as PDF</a>-->

              <a href="nino-primary?data=clear" role="button" class="govuk-button govuk-!-margin-top-2 govuk-!-margin-bottom-8">Search another</a>




        </div>

  </div>


  {% endblock %}
