                      <h2 class="govuk-heading-m govuk-!-margin-bottom-2 govuk-!-margin-top-4">Mobility</h2>
                      <table class="govuk-table">
                        <thead class="govuk-table__head">
                          <tr class="govuk-table__row">
                            <th scope="col" class="govuk-table__header govuk-!-width-one-quarter" >Activity</th>
                            <th scope="col" class="govuk-table__header">Descriptors</th>
                            <th scope="col" class="govuk-table__header govuk-table__header--numeric">Points</th>
                          </tr>
                        </thead>
                        <tbody class="govuk-table__body">
                          <tr class="govuk-table__row">
                            <th scope="row" class="govuk-table__header">Moving around</th>
                            <td class="govuk-table__cell"><p>
                              B - Can stand and then move more than 50 metres but no more than 200 metres, either aided or unaided
                            </p>
                            </td>
                            <td class="govuk-table__cell govuk-table__cell--numeric">4</td>
                          </tr>
                          <tr class="govuk-table__row">
                            <th scope="row" class="govuk-table__header">Planning and following a journey</th>
                            <td class="govuk-table__cell">C - Cannot plan the route of a journey</td>
                            <td class="govuk-table__cell govuk-table__cell--numeric">8</td>
                          </tr>
                        </tbody>
                      </table>
                      

                      <h2 class="govuk-heading-m govuk-!-margin-bottom-2 govuk-!-margin-top-8">Daily living</h2>
                      <table class="govuk-table">
                        <thead class="govuk-table__head">
                          <tr class="govuk-table__row">
                            <th scope="col" class="govuk-table__header govuk-!-width-one-quarter">Activity</th>
                            <th scope="col" class="govuk-table__header">Descriptors</th>
                            <th scope="col" class="govuk-table__header govuk-table__header--numeric">Points</th>
                          </tr>
                        </thead>
                        <tbody class="govuk-table__body">
                         <tr class="govuk-table__row">
                            <th scope="row" class="govuk-table__header">Preparing food</th>
                            <td class="govuk-table__cell">E - Needs supervision or assistance to either prepare or cook a simple meal</td>
                            <td class="govuk-table__cell govuk-table__cell--numeric">4</td>
                          </tr>
                          <tr class="govuk-table__row">
                            <th scope="row" class="govuk-table__header">Taking nutrition</th>
                            <td class="govuk-table__cell">A - Can take nutrition unaided</td>
                            <td class="govuk-table__cell govuk-table__cell--numeric">0</td>
                          </tr>
                          <tr class="govuk-table__row">
                            <th scope="row" class="govuk-table__header">Managing therapy or monitoring a health condition</th>
                            <td class="govuk-table__cell">A - Either:<br />
                              i. does not receive medication or therapy or need to monitor a health condition; or<br />
                              ii. can manage medication or therapy or monitor a health condition unaided</td>
                            <td class="govuk-table__cell govuk-table__cell--numeric">0</td>
                          </tr>
                          <tr class="govuk-table__row">
                            <th scope="row" class="govuk-table__header">Washing and bathing</th>
                            <td class="govuk-table__cell">E - Needs assistance to be able to get in or out of a bath or shower</td>
                            <td class="govuk-table__cell govuk-table__cell--numeric">3</td>
                          </tr>
                          <tr class="govuk-table__row">
                            <th scope="row" class="govuk-table__header">Managing toilet needs or incontinence</th>
                            <td class="govuk-table__cell">B - Needs to use an aid or appliance to be able to manage toilet needs or incontinence</td>
                            <td class="govuk-table__cell govuk-table__cell--numeric">2</td>
                          </tr>
                          <tr class="govuk-table__row">
                            <th scope="row" class="govuk-table__header">Dressing and undressing</th>
                            <td class="govuk-table__cell">E - Needs assistance to be able to dress or undress their upper body</td>
                            <td class="govuk-table__cell govuk-table__cell--numeric">4</td>
                          </tr>
                          <tr class="govuk-table__row">
                            <th scope="row" class="govuk-table__header">Communicating verbally</th>
                            <td class="govuk-table__cell">A - Can express and understand verbal information unaided</td>
                            <td class="govuk-table__cell govuk-table__cell--numeric">0</td>
                          </tr>
                          <tr class="govuk-table__row">
                              <th scope="row" class="govuk-table__header">Reading</th>
                              <td class="govuk-table__cell">A - Can read and understand basic and complex written information either unaided or using spectacles or contact lensess</td>
                              <td class="govuk-table__cell govuk-table__cell--numeric">0</td>
                            </tr>
                            <tr class="govuk-table__row">
                                <th scope="row" class="govuk-table__header">Mixing with other people</th>
                                <td class="govuk-table__cell">A - Can engage with other people unaided</td>
                                <td class="govuk-table__cell govuk-table__cell--numeric">0</td>
                              </tr>
                              <tr class="govuk-table__row">
                                  <th scope="row" class="govuk-table__header">Making budgeting decisions</th>
                                  <td class="govuk-table__cell">A - Can manage complex budgeting decisions unaided</td>
                                  <td class="govuk-table__cell govuk-table__cell--numeric">0</td>
                                </tr>
                        </tbody>
                      </table>


