           <aside class="app-related-items" role="complementary">
              <h2 class="govuk-heading-m" id="subsection-title">Benefit evidence</h2>
              <nav role="navigation" aria-labelledby="subsection-title">
                <ul class="govuk-list govuk-!-font-size-16">
                  <p>Download a digital copy of the benefit information for your records.</p>
                  <p><a href="../docs/summary-sw.pdf" class="govuk-link" download>Download as PDF</a></p>
                </ul>
              </nav>
            </aside>

