              <h2 class="govuk-heading-m  govuk-!-margin-top-4">Previous awards</h2>

                            
                          <details class="govuk-details" data-module="govuk-details">
                                <summary class="govuk-details__summary">
                                  <span class="govuk-details__summary-text">
                                      PIP - Ended October 2016
                                  </span>
                                </summary>
                                <div class="govuk-details__text">
                                  
                                  {% include '../includes/award-details.njk' %}
                                  
                                  </div>
                            </details>


                            <details class="govuk-details" data-module="govuk-details">
                                <summary class="govuk-details__summary">
                                  <span class="govuk-details__summary-text">
                                      DLA - Ended October 2013
                                  </span>
                                </summary>
                                <div class="govuk-details__text">
                                  
                                  {% include '../includes/award-details.njk' %}
                                  
                                  </div>
                            </details>



                                              <details class="govuk-details" data-module="govuk-details">
                                <summary class="govuk-details__summary">
                                  <span class="govuk-details__summary-text">
                                      DLA - Ended October 2010                                  </span>
                                </summary>
                                <div class="govuk-details__text">
                                  
                                  {% include '../includes/award-details.njk' %}
                                  
                                  </div>
                            </details>

