{% extends "layout.html" %}

{% block pageTitle %}
  National Insurance number
{% endblock %}

{% block beforeContent %}
  {% include '../includes/phase-banner-sign-out.njk' %}
{% endblock %}

{% block content %}
<form class="form" action="mismatch" method="post">
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
      
        <h1 class="govuk-heading-l">Enter citizen&rsquo;s National Insurance number</h1>

        <div class="govuk-form-group">

            {{ govukInput({
              id: "National Insurance number",
              name: "ni-number",
              classes: "govuk-input--width-10",
              attributes: {
                spellcheck: "false"
              }
            }) }}

        </div>

        {{ govukButton({
          text: "Continue"
        }) }}


        <!--<p><a href="citizen-details-c">Search by name, date of birth and postcode instead</a></p>-->


        <!--<p><a href="citizen-details-c">I don't know the citizen's National Insurance number</a></p>-->


    </div>
  </div>
</form>

{% endblock %}
