{% extends "layout.html" %}

{% block pageTitle %}
  Create password
{% endblock %}

{% block beforeContent %}
  {% include '../includes/phase-banner-sign-out.njk' %}
  {% include '../includes/back-button.njk' %}
{% endblock %}

{% block content %}


  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">

      <h1 class="govuk-heading-l">Create a new password</h1>

      <p>Your password must be at least 8 characters long.</p>

      <p>It must also contain at least:</p>

      <ul class="govuk-list govuk-list--bullet">
        <li>
          1 upper case letter
        </li>
        <li>
          1 lower case letter
        </li>
        <li>
          1 number
        </li>
        <li>
          1 special case character eg !, ? or %
        </li>
      </ul>


      <form class="form" action="email-confirmation" method="post">

        <div class="govuk-form-group">
          <label class="govuk-label" for="password">
            Enter new password
          </label>
          <input class="govuk-input govuk-input--width-20" id="password" name="password" type="password">
        </div>

        <div class="govuk-form-group">
          <label class="govuk-label" for="password">
            Confirm new password
          </label>
          <input class="govuk-input govuk-input--width-20" id="password" name="password" type="password">
        </div>


        <button class="govuk-button">Create password</button>



        <!--<p><a href="#">Create sign in details</a></p>-->




        <!--<p><a href="#">Get help with this page</a></p>-->

      </form>
    </div>
  </div>



{% endblock %}
