{% extends "layout.html" %}

{% block pageTitle %}
  Sign in 
{% endblock %}

{% block beforeContent %}
  {% include '../includes/phase-banner-sign-out.njk' %}
  {% include '../includes/back-button.njk' %}
{% endblock %}

{% block content %}


  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">

      <h1 class="govuk-heading-l">We&rsquo;ve sent you an email</h1>

      <p>It contains a code and should arrive in a few minutes.</p>

      <p style="margin-bottom:0">We sent it to xxxxx@xxxxx.com.</p>
      {{ govukDetails({
        summaryText: "This isn’t the right email address",
        text: "Contact your organisation. They can help."
      }) }}

      <form class="form" action="signed-in" method="post">

        <div class="govuk-form-group" style="margin-top:30px">
          <label class="govuk-label" for="width-20">
            <strong>Code in email</strong>
          </label>
          <input class="govuk-input govuk-input--width-20" id="width-20" name="width-20" type="text">
        </div>

        <button class="govuk-button" name="signed-in" value="yes">Continue</button>

        <p><a href="resend-code">I didn&rsquo;t receive an email</a></p>



        <!--<p><a href="#">Get help with this page</a></p>-->

      </form>
    </div>
  </div>

{% endblock %}
