{% extends "layout.html" %}

{% block pageTitle %}
Summary - Harvey Dent
{% endblock %}

{% block beforeContent %}
  {% include '../includes/phase-banner-sign-out.njk' %}
{% endblock %}





{% block content %}


<div class="govuk-grid-row">

    <div class="govuk-grid-column-two-thirds">
            <h1 class="govuk-heading-l">Harvey Dent</h1>

            {% set citizen %}
            <dl class="govuk-summary-list">
                
              <div class="govuk-summary-list__row">
                <dt class="govuk-summary-list__key">
                  Date of birth
                </dt>
                <dd class="govuk-summary-list__value">
                  21 September 1981
                </dd>
              </div>
              <div class="govuk-summary-list__row">
                  <dt class="govuk-summary-list__key">
                    Benefit type
                  </dt>
                  <dd class="govuk-summary-list__value">
                    Personal Independence Payment 
                  </dd>
                  <strong class="govuk-tag govuk-phase-banner__content__tag award-status-tabs">
                    ONGOING
                  </strong>
                </div>
              <div class="govuk-summary-list__row">
                <dt class="govuk-summary-list__key">
                  Moving around score
                </dt>
                <dd class="govuk-summary-list__value">
                  B - 4 points
                </dd>
              </div>
              <div class="govuk-summary-list__row">
                <dt class="govuk-summary-list__key">
                  Planning and following a journey
                </dt>
                <dd class="govuk-summary-list__value">
                    <p>C - 8 points</p>
                </dd>
              </div>
             
              <div class="govuk-summary-list__row">
                <dt class="govuk-summary-list__key">
                  End date
                </dt>
                <dd class="govuk-summary-list__value">
                  1 October 2021
                </dd>
              </div>
            </dl>
            {% endset -%}


            {% set mobilityComponent %}
            
            <table class="govuk-table">
              <thead class="govuk-table__head">
                <tr class="govuk-table__row">
                  <th scope="col" class="govuk-table__header" >Activity</th>
                  <th scope="col" class="govuk-table__header">Descriptors</th>
                  <th scope="col" class="govuk-table__header govuk-table__header--numeric">Points</th>
                </tr>
              </thead>
              <tbody class="govuk-table__body">
                <tr class="govuk-table__row">
                  <th scope="row" class="govuk-table__header">Moving around</th>
                  <td class="govuk-table__cell"><p>
                    B - Can stand and then move more than 50 metres but no more than 200 metres, either aided or unaided
                  </p>
                  </td>
                  <td class="govuk-table__cell govuk-table__cell--numeric">4</td>
                </tr>
                <tr class="govuk-table__row">
                  <th scope="row" class="govuk-table__header">Planning and following a journey</th>
                  <td class="govuk-table__cell">C - Cannot plan the route of a journey</td>
                  <td class="govuk-table__cell govuk-table__cell--numeric">8</td>
                </tr>
                
              </tbody>
            </table>
            {% endset -%}


            
            {% set dailyLivingComponent %}

            <table class="govuk-table">
              <thead class="govuk-table__head">
                <tr class="govuk-table__row">
                  <th scope="col" class="govuk-table__header">Activity</th>
                  <th scope="col" class="govuk-table__header">Descriptors</th>
                  <th scope="col" class="govuk-table__header govuk-table__header--numeric">Points</th>
                </tr>
              </thead>
              <tbody class="govuk-table__body">
                <tr class="govuk-table__row">
                  <th scope="row" class="govuk-table__header">Dressing and undressing</th>
                  <td class="govuk-table__cell">You either need another person to tell you to get dressed or undressed, how to do it or when to keep your clothes on, or that you need prompting or assiastance to select appropriate clothing</td>
                  <td class="govuk-table__cell govuk-table__cell--numeric">2</td>
                </tr>
                <tr class="govuk-table__row">
                  <th scope="row" class="govuk-table__header">Communicating</th>
                  <td class="govuk-table__cell">You can express and understand verbal information unaided</td>
                  <td class="govuk-table__cell govuk-table__cell--numeric">0</td>
                </tr>
                <tr class="govuk-table__row">
                    <th scope="row" class="govuk-table__header">Reading</th>
                    <td class="govuk-table__cell">You can read and understand basic and complex written information either unaided or using glasses or contact lenses</td>
                    <td class="govuk-table__cell govuk-table__cell--numeric">0</td>
                  </tr>
                  <tr class="govuk-table__row">
                      <th scope="row" class="govuk-table__header">Mixing with other people</th>
                      <td class="govuk-table__cell">You need to be prompted by another person to engage with other people</td>
                      <td class="govuk-table__cell govuk-table__cell--numeric">2</td>
                    </tr>
                    <tr class="govuk-table__row">
                        <th scope="row" class="govuk-table__header">Making budgeting decisions</th>
                        <td class="govuk-table__cell">You need prompting or assistance from another person to make complex budgeting decisions</td>
                        <td class="govuk-table__cell govuk-table__cell--numeric">2</td>
                      </tr>
              </tbody>
            </table>
            {% endset -%}
            
            
                {{ govukTabs({
                items: [
                  {
                    label: "Summary",
                    id: "citizen",
                    panel: {
                      html: citizen
                    }
                  },
                  {
                    label: "Mobility",
                    id: "mobility-component",
                    panel: {
                      html: mobilityComponent
                    }
                  },
                  {
                    label: "Daily living",
                    id: "daily-living-component",
                    panel: {
                      html: dailyLivingComponent
                    }
                  }
                ]
                }) }}


              <!-- Download / Search Another -->
              <a href="../public/downloads/summary-peter-parker.pdf" role="button" class="govuk-button  govuk-!-margin-top-3 govuk-!-margin-right-1  govuk-!-margin-bottom-1">Download as PDF</a>
              <a href="citizen-details-b?data=clear" role="button" class="govuk-button govuk-button--secondary govuk-!-margin-top-3 govuk-!-margin-bottom-8">Search another</a>
              <!-- End of Download / Search Another -->

              
              <!-- Previous awards -->
                {% include '../includes/previous-awards.njk' %}
              <!-- End of Previous Awards -->



            </div>
  </div>


  {% endblock %}
