{% extends "layout.html" %}

{% block pageTitle %}
Summary - Selina Kyle
{% endblock %}

{% block beforeContent %}
  {% include '../includes/phase-banner-sign-out.njk' %}
{% endblock %}





{% block content %}



<div class="govuk-grid-row">

  <div class="govuk-grid-column-full">

      <h1 class="govuk-heading-l">Selina Kyle</h1>

          <dl class="govuk-summary-list govuk-!-margin-bottom-8">
              
              <div class="govuk-summary-list__row">
                <dt class="govuk-summary-list__key">
                  Date of birth
                </dt>
                <dd class="govuk-summary-list__value">
                  16 March 1950
                </dd>
              </div>

              <div class="govuk-summary-list__row">
                <dt class="govuk-summary-list__key">
                  Address
                </dt>
                <dd class="govuk-summary-list__value">
                  56 Sunrise Avenue, Leeds, LS6 2AW
                </dd>
              </div>

              <div class="govuk-summary-list__row">
                  <dt class="govuk-summary-list__key">
                    Benefit type
                  </dt>
                  <dd class="govuk-summary-list__value">
                    Personal Independence Payment (PIP)

                    <strong class="govuk-tag govuk-phase-banner__content__tag award-status">
                        UNDER APPEAL
                      </strong>
                  </dd>
                </div>
              

              <div class="govuk-summary-list__row">
                <dt class="govuk-summary-list__key">
                  End date
                </dt>
                <dd class="govuk-summary-list__value">
                  1 May 2022
                </dd>
              </div>
            </dl>

          </div>
        </div>


        <div class="govuk-grid-row">
      
            <div class="govuk-grid-column-full">



{% set mobilityComponent %}

<h2 class="govuk-heading-m govuk-!-margin-bottom-2">Mobility</h2>

<table class="govuk-table">
  <thead class="govuk-table__head">
    <tr class="govuk-table__row">
      <th scope="col" class="govuk-table__header govuk-!-width-one-quarter" >Activity</th>
      <th scope="col" class="govuk-table__header">Descriptors</th>
      <th scope="col" class="govuk-table__header govuk-table__header--numeric">Points</th>
    </tr>
  </thead>
  <tbody class="govuk-table__body">
    <tr class="govuk-table__row">
      <th scope="row" class="govuk-table__header">Moving around</th>
      <td class="govuk-table__cell">B - Can stand and then move more than 50 metres but no more than 200 metres, either aided or unaided</td>
      <td class="govuk-table__cell govuk-table__cell--numeric">4</td>
    </tr>
    <tr class="govuk-table__row">
      <th scope="row" class="govuk-table__header">Planning and following a journey</th>
      <td class="govuk-table__cell">B - Needs prompting to undertake any journey to avoid overwhelming pyschological distress to the claimant</td>
      <td class="govuk-table__cell govuk-table__cell--numeric">4</td>
    </tr>
    
  </tbody>
</table>


{% endset -%}

{% set dailyLivingComponent %}

<h2 class="govuk-heading-m govuk-!-margin-bottom-2">Daily living</h2>


<table class="govuk-table">
  <thead class="govuk-table__head">
    <tr class="govuk-table__row">
      <th scope="col" class="govuk-table__header govuk-!-width-one-quarter">Activity</th>
      <th scope="col" class="govuk-table__header">Descriptors</th>
      <th scope="col" class="govuk-table__header govuk-table__header--numeric">Points</th>
    </tr>
  </thead>
  <tbody class="govuk-table__body">
    <tr class="govuk-table__row">
      <th scope="row" class="govuk-table__header">Dressing and undressing</th>
      <td class="govuk-table__cell">You either need another person to tell you to get dressed or undressed, how to do it or when to keep your clothes on, or that you need prompting or assiastance to select appropriate clothing</td>
      <td class="govuk-table__cell govuk-table__cell--numeric">2</td>
    </tr>
    <tr class="govuk-table__row">
      <th scope="row" class="govuk-table__header">Communicating</th>
      <td class="govuk-table__cell">You can express and understand verbal information unaided</td>
      <td class="govuk-table__cell govuk-table__cell--numeric">0</td>
    </tr>
    <tr class="govuk-table__row">
        <th scope="row" class="govuk-table__header">Reading</th>
        <td class="govuk-table__cell">You can read and understand basic and complex written information either unaided or using glasses or contact lenses</td>
        <td class="govuk-table__cell govuk-table__cell--numeric">0</td>
      </tr>
      <tr class="govuk-table__row">
          <th scope="row" class="govuk-table__header">Mixing with other people</th>
          <td class="govuk-table__cell">You need to be prompted by another person to engage with other people</td>
          <td class="govuk-table__cell govuk-table__cell--numeric">2</td>
        </tr>
        <tr class="govuk-table__row">
            <th scope="row" class="govuk-table__header">Making budgeting decisions</th>
            <td class="govuk-table__cell">You need prompting or assistance from another person to make complex budgeting decisions</td>
            <td class="govuk-table__cell govuk-table__cell--numeric">2</td>
          </tr>
  </tbody>
</table>
{% endset -%}


{{ govukTabs({
items: [
  {
    label: "Mobility",
    id: "mobility-component",
    panel: {
      html: mobilityComponent
    }
  },
  {
    label: "Daily Living",
    id: "daily-living-component",
    panel: {
      html: dailyLivingComponent
    }
  }
]
}) }}








<a href="#" role="button" class="govuk-button  govuk-!-margin-top-2 govuk-!-margin-right-1  govuk-!-margin-bottom-1">Download as PDF</a>
  
<a href="citizen-details-b?data=clear" role="button" class="govuk-button govuk-button--secondary govuk-!-margin-top-2 govuk-!-margin-bottom-8">Search another</a>



<details class="govuk-details" data-module="govuk-details">
  <summary class="govuk-details__summary">
    <span class="govuk-details__summary-text">
      View previous awards
    </span>
  </summary>
  <div class="govuk-details__text">
    {% include '../includes/previous-awards.njk' %}                
  </div>
</details>


        </div>
    

  </div>


  {% endblock %}
