{% extends "layout.html" %}

{% block pageTitle %}
Summary - Bruce Wayne
{% endblock %}

{% block beforeContent %}
  {% include '../includes/phase-banner-sign-out.njk' %}
{% endblock %}





{% block content %}


{% if data['last-name'] | lower == 'rogers' %}
<script>
    window.location.href = 'summary-sr'
</script>
{% endif %}

{% if data['last-name'] | lower == 'kyle' %}
<script>
    window.location.href = 'summary-sk'
</script>
{% endif %}

{% if data['last-name'] | lower  == 'stark' %}
<script>
    window.location.href = 'nino'
</script>
{% endif %}

{% if data['last-name'] | lower  == 'kent' %}
<script>
    window.location.href = 'summary-ck'
</script>
{% endif %}

{% if data['last-name'] | lower  == 'banner' %}
<script>
    window.location.href = 'summary-bb'
</script>
{% endif %}

{% if data['last-name'] | lower  == 'parker' %}
<script>
    window.location.href = 'summary-pp'
</script>
{% endif %}


{% if data['last-name'] | lower  == 'castle' %}
<script>
    window.location.href = 'summary-fc'
</script>
{% endif %}




<div class="govuk-grid-row">

    <div class="govuk-grid-column-two-thirds">
            <h1 class="govuk-heading-l">Bruce Wayne</h1>


            <dl class="govuk-summary-list">
                
                <div class="govuk-summary-list__row">
                  <dt class="govuk-summary-list__key">
                    Date of birth
                  </dt>
                  <dd class="govuk-summary-list__value">
                    7 April 1980
                  </dd>
                </div>
                <div class="govuk-summary-list__row">
                    <dt class="govuk-summary-list__key">
                      Benefit type
                    </dt>
                    <dd class="govuk-summary-list__value">
                      Personal Independence Payment (PIP)
                    </dd>
                  </div>
                <div class="govuk-summary-list__row">
                  <dt class="govuk-summary-list__key">
                    Moving around score
                  </dt>
                  <dd class="govuk-summary-list__value">
                    8 points
                  </dd>
                </div>
                <div class="govuk-summary-list__row">
                  <dt class="govuk-summary-list__key">
                    Planning and following a journey
                  </dt>
                  <dd class="govuk-summary-list__value">
                    
                    <p>E - Cannot undertake any journey because it would cause overwhelming psychological distress to the claimant</p>
                    <p>10 points</p> 
                  </dd>
                </div>
               
                <div class="govuk-summary-list__row">
                  <dt class="govuk-summary-list__key">
                    End date
                  </dt>
                  <dd class="govuk-summary-list__value">
                    1 January 2022
                  </dd>
                </div>
              </dl>

              <a href="#" role="button" class="govuk-button  govuk-!-margin-top-2 govuk-!-margin-right-1  govuk-!-margin-bottom-1">Download as PDF</a>
    
              <a href="citizen-details-b?data=clear" role="button" class="govuk-button govuk-button--secondary govuk-!-margin-top-2 govuk-!-margin-bottom-8">Search another</a>
    
              


        </div>
 
  </div>


  {% endblock %}
