{% extends "layout.html" %}

{% block pageTitle %}
  View benefit information
{% endblock %}

{% block content %}

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">
    <h1 class="govuk-heading-xl">
      View benefit information 
      <span class="govuk-caption-xl">v4</span>
    </h1>{{releaseVersion | log }}
    <h2 class="govuk-heading-s">Created: 27 August 2019</h2>

    <p>Changes:</p>
    <ul class="govuk-list govuk-list--bullet">
      <li>Added search choice branch</li>
    </ul>

    <p>User research aims:</p>
    <ul class="govuk-list govuk-list--bullet">
      <li>Observe local authority staff responses to benefit information on summary page</li>
      <li>Observe how local authority staff use the service - single application or batch</li>
    </ul>

    <a href="/v4/start" class="govuk-button">Open prototype</a>

    <hr class="govuk-section-break govuk-section-break--l govuk-section-break--visible">

    <details class="govuk-details">
      <summary class="govuk-details__summary">
        <span class="govuk-details__summary-text">
          Other prototype versions
        </span>
      </summary>

      <div class="govuk-details__text">

        <span class="govuk-caption-x">v3</span>
        <h2 class="govuk-heading-s">Created: 8 August 2019</h2>


        <p>Changes:</p>
        <ul class="govuk-list govuk-list--bullet">
          <li>Added evidence PDF download button</li>
          <li>Added styles for DWP Header/Branding if required</li>
          <li>Added unique paths for different citizen PIP scores and award types</li>
          <li>Added various design options with differing UI elements for summary pages</li>
          <li>Added 'previous awards' table</li>
          <li>Changed 2FA confirmation page from text message to email based on insights from UR 13</li>
          <li>Added example benefit evidence downloads in PDF format</li>
        </ul>
    
        <p>User research aims:</p>
        <ul class="govuk-list govuk-list--bullet">
          <li>Observe local authority staff responses to benefit information on summary page</li>
          <li>Observe how local authority staff use the service - single application or batch</li>
        </ul>
    
        <a href="/v3/start" class="govuk-button">Open prototype</a>

        <hr class="govuk-section-break govuk-section-break--l govuk-section-break--visible">
   

          <span class="govuk-caption-x">v2</span>
          <h2 class="govuk-heading-s">Created: 29 July 2019</h2>

          <p>Changes:</p>
    <ul class="govuk-list govuk-list--bullet">
      <li>Removed three of the original scenarios</li>
      <li>Added data matching as first method of retreiving citizens benefit information</li>
      <li>Added NINo as fallback option if data matching is partial or none</li>
      <li>Added user credentials for happy path and partial data match with NINo</li>
      <li>Added exit page for unhappy path - data match and NINo fail</li>
    </ul>

    <p>User research aims:</p>
    <ul class="govuk-list govuk-list--bullet">
      <li>Observe how local authority staff process requests</li>
          <li>Observe if and how local authority staff archive evidence</li>
    </ul>

    <a href="/v2/start" class="govuk-button">Open prototype</a>

    <hr class="govuk-section-break govuk-section-break--l govuk-section-break--visible">

        <span class="govuk-caption-x">v1</span>
        <h2 class="govuk-heading-s">Created: 28 June 2019</h2>
        
        <p>User research aims:</p>
        <ul class="govuk-list govuk-list--bullet">
          <li>Observe how local authority staff process requests</li>
          <li>Observe what local authority staff would do with the shared information</li>
          <li>Observe how local authority staff would archive requests</li>
        </ul>

        <h2 class="govuk-heading-s">Scenarios</h2>

        <p><a href="/v1/single-citizen-unique-url/authenticate">Single citizen - unique url</a></p>
        <p><a href="/v1/multiple-citizen-unique-urls/citizen-a/authenticate">Multiple citizen - unique urls</a></p>
        <p><a href="/v1/single-citizen-code/authenticate">Single citizen - code</a></p>
        <p><a href="/v1/multiple-citizen-codes/citizen-a/authenticate">Multiple citizen - codes</a></p>


      </details>

    </div> 
  </div>
</div>
{% endblock %}
